html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    background-color: aquamarine;
    gap: 10px 10px;
    font-family: 'Open Sans', sans-serif;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    gap: 20px;
    background-color: yellow;
}

/* Dashboard sidebar */

.left-sidebar {
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: #eff6ff;
    font-family: 'Open Sans', sans-serif;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
}

.dashboard * {
    padding: 0.3em;
}

.dashboard-options .dashboard-security{
    vertical-align: middle;
    display: inline-block;
}

.dashboard-security *, .dashboard-options * {
    display: flex;
    align-items: center;
    padding: 0.25em;
    color: rgb(33, 33, 33);
    font-weight: 300;
}

.community {
    margin-bottom: 1.5em;
}

a:hover, a:active { 
    text-decoration: none; 
}


.left-sidebar a {
    text-decoration: none;
}

.left-sidebar a h3 {
    text-decoration: none;
    position: relative;
}

  
.left-sidebar a h3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    border-radius: 2px;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.left-sidebar a h3:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Header */

header {
    grid-column: 2 / -1;
    grid-row: 1 / 1;
    background-color: #38bdf8;
    font-family: 'Open Sans', sans-serif;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    background-color: #eff6ff;
    padding: 8px 12px;
    border: none;
    width: 100%;
    border-radius: 0.5em;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.right * {
    padding: 1em;
}

.right img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search * {
    padding: 1em;
}

h3.username {
    font-weight: 700;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom .left img {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    padding: 1em;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right * {
    padding: 1em;
}

.button {
    display: inline-block;
    padding: 0.3em 1em;
    border: 2px solid #ffffff;
    border-radius: 0.5em;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 1em;
    color: white;
    background-color: #2563eb;
    z-index: 1;
    cursor: pointer;
    margin: 0.5em;
   }

   
.button:hover {
    color: black;
   }
